<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Избирательные участки и УИК горда Москвы" />
    <meta name="keywords" content="Избирательный участок, УИК, карта, Москва, выборы, избирательные участки, избирательная комиссия" />
    <meta name='yandex-verification' content='5962319f59377078' />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/bootstrap/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body
        {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav
        {
            padding: 9px 0;
        }
    </style>    
    <link href="@Url.Content("~/bootstrap/css/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-ui-1.8.17.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/base.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/underscore-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.17.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tmpl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/datajs-1.0.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout-2.0.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout.mapping.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/proj.find.js")" type="text/javascript"></script>
    @{string yMapKey = System.Configuration.ConfigurationManager.AppSettings["YMapAPIKey"];}
    <script src="http://api-maps.yandex.ru/1.1/index.xml?key=@yMapKey" type="text/javascript"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29526318-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="/Home/Index">prezek.org</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        @{
                            var active = "home";
                            if (Request.RawUrl == "/Home/About") { active = "about"; }
                         }
                        <li @if (active == "home") { <text>class = "active"</text>  }><a href="/Home/Index">Избирательные участки</a></li>
                        <li @if (active == "about") { <text>class = "active"</text>  }><a href="/Home/About">О проекте</a></li>
                        <!--<li><a href="#contact">Contact</a></li>-->
                    </ul>
                    <!--
                    <p class="navbar-text pull-right">
                        Logged in as <a href="#">username</a></p>-->
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @RenderBody()
        <hr>
        <footer>
            <p><img src="/Content/badges/data-avail.png" alt align="top" />Data-Avail © 2012</p>
        </footer>
    </div>
    <!--/.fluid-container-->
</body>
</html>
